.container {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  max-width: 960px;
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  color: #efb0b3;
  -webkit-text-stroke: 1px white;
}

.button {
  background-color: #f94144;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 8px 16px;
  font-family: cooper-black-std, serif;
  cursor: pointer;
  max-height: auto;
}

.button:hover {
  background-color: #e13535;
}
