.container,
.sectionContainer {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-style: italic;
}

.container {
  margin: 48px 0 24px 0;
}

.sectionContainer {
  font-family: cooper-black-std, serif;
  margin: 24px 0;
  font-size: 24px;
  color: white;
}

.jump {
  font-size: 14px;
}

.logo img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
