.randomButton {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  height: 140px;
  width: 140px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 110ms;
}

.randomButton:hover {
  transform: scale(1.1) skew(1deg);
}

@media (max-width: 540px) {
  .randomButton {
    height: 120px;
    width: 120px;
    right: 0px;
    bottom: 0px;
  }
  .radomButton:hover {
    transform: none;
  }

  .randomButton:active {
    transform: scale(1.1) skew(1deg);
  }
}
