.pageHeader {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  flex-wrap: nowrap;
  margin-bottom: 48px;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-content: center;
  margin-right: 48px;
}

.logo {
  margin-right: 48px;
  content: url("../assets/logo.svg");
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  width: 100%;
  line-height: 20px;
  height: 52px;
  max-width: 304px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 2;
}

.searchInput {
  padding: 16px;
  border-radius: 4px;
}

.searchInput::placeholder {
  opacity: 1;
  color: #7b7b87;
}

.resultsContainer {
  z-index: 1000;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultsList {
  list-style: none;
  font-style: normal;
  width: auto;
  max-height: 400px;
  overflow: scroll;
  border-radius: 0 0 4px 4px;
}

.divider {
  width: auto;
  margin: 0 16px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.resultItem {
  display: flex;
  padding: 8px 16px;
  align-items: center;
}

.resultItem:hover,
.resultItem:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.resultData {
  overflow: hidden;
}

.resultTitle {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.resultMetadata {
  font-size: 12px;
  color: #4a4a51;
  padding-top: 4px;
}

.resultImage {
  height: 48px;
  width: 64px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  margin-right: 12px;
  flex-shrink: 0;
}

.emptyResult {
  padding: 16px;
  font-size: 12px;
  font-style: italic;
  color: #4a4a51;
}

.overlay {
  display: none;
}

@media (max-width: 768px) {
  .searchContainer {
    min-width: 48px;
    min-height: 48px;
    align-self: flex-end;
    z-index: 2000;
    max-width: none;
    width: auto;
  }

  .searchContainer:focus-within {
    width: 100%;
  }
  .searchInput {
    width: 48px;
    height: 48px;
    padding: 0;
    border: 2px solid white;
    background: center no-repeat url("/images/search-icon.svg"),
      rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .searchInput:focus {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    width: auto;
    padding: 16px;
    cursor: text;
  }

  .searchInput::placeholder {
    opacity: 0;
  }

  .divider {
    margin: 0 12px;
  }

  .resultItem {
    padding: 12px;
  }

  .resultItem:first-child {
    margin-top: 0;
  }

  .emptyResult {
    font-size: 14px;
  }

  .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
  }
  .resultsList {
    max-height: 88vh;
  }
}

@media (hover: none) {
  .searchInput {
    font-size: 20px;
  }

  .resultImage {
    height: 64px;
    width: 112px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
    flex-shrink: 0;
  }

  .resultTitle {
    font-size: 18px;
  }

  .resultMetadata {
    font-size: 14px;
  }

  .resultItem:hover,
  .resultItem:focus {
    background-color: none;
  }

  .resultItem:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 540px) {
  .logo {
    content: url("../assets/logo-mobile.svg");
  }
}
