.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 48px;
  transition: all 100ms;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 540px) {
  .card:hover {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.header {
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
  position: relative;
  height: 156px;
}

.image {
  border-radius: 8px 8px 0 0;
}

.sketchInfo {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
}

.metadata {
  font-size: 12px;
  margin-top: 8px;
  color: #4a4a51;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bar {
  color: #7b7b87;
}

.button,
.button:hover {
  color: none;
  border: none;
  background: none;
  cursor: pointer;
}

.copyIcon {
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  position: relative;
  object-fit: contain;
}

.card:hover .copyIcon {
  opacity: 60%;
}

.metadata:hover .copyIcon {
  opacity: 80% !important;
}

.metadata > * {
  transition: all 110ms;
}

.metaText {
  transform: translateX(-14px);
}

.card:hover .metaText {
  transform: translateX(0);
}

.toast {
  display: none;
}

.sketchInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyIconMobile {
  display: none;
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: contain;
  margin-right: 16px;
  opacity: 30%;
}

.copyIconMobile:hover {
  opacity: 60%;
}

.copyIconMobile:active {
  opacity: 80%;
}

@media (max-width: 540px) {
  .copyIcon {
    opacity: 60%;
  }
  .metaText {
    transform: translateX(0);
  }

  .copyIcon {
    display: none;
  }

  .copyIconMobile {
    display: block;
  }
}
