.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 48px;
  transition: all 100ms;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 222px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 540px) {
  .card:hover {
    transform: scale(1.05);
  }
}

@media (hover: none) {
  .card:hover {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.header {
  border-radius: 8px 8px 0 0;
  position: relative;
  height: 100%;
}

.image {
  border-radius: 8px 8px 0 0;
}

.sketchInfo {
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 15px;
}

.metadata {
  font-size: 12px;
  margin-top: 8px;
  color: #4a4a51;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.bar {
  color: #7b7b87;
}

.copyText {
  opacity: 0;
  transition: color 110ms;
}

.card:hover .copyText {
  opacity: 100%;
}

.copyText:hover {
  color: black;
}

.sketchInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.copyIconMobile {
  display: none;
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: contain;
  margin-right: 16px;
  opacity: 30%;
}

.copyIconMobile:hover {
  opacity: 60%;
}

.copyIconMobile:active {
  opacity: 80%;
}

.toastImage {
  width: 56px;
  height: 56px;
  position: relative;
  object-fit: contain;
  background-image: url("../public/images/toast-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.toastContent {
  display: flex;
  align-items: center;
}

@media (max-width: 540px) {
  .card {
    margin-bottom: 16px;
  }
  .copyText {
    display: none;
  }
  .copyIcon {
    display: none;
  }

  .copyIconMobile {
    display: block;
  }
}
